<h1>Activities</h1>
<div>

  <input [(ngModel)]="activityname" placeholder="Enter Activity">

  <button (click)="activitydataservice.populateList(activityname)">Enter</button>


  <div *ngFor="let activity of activitydataservice.activities">

    <div>
      <div id="content-wrapper">
        <header id="header">
          <a class="button" href="#popup">{{activity.facilityName}} ({{activity.activity}})</a>

          <div *ngIf="userdataservice.username" class="button">
            <button (click)="addLikedActivity(activity)" class="btn">♥</button>
          </div>


        </header>
      </div>
    </div>
    

    <div id="popup" class="overlay">
      <div class="popup">
        <h2>{{activity.facilityName}}</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <p>{{activity.facilityDescription}}</p>
        </div>
      </div>

    </div>

  </div>

</div>
