<h1>Locations</h1>

<div class="search">

  <h3>{{activity}}</h3>
  <input [(ngModel)]="searchField" placeholder="Search Places" (input)="Search()" />

</div>

<div class="scrollbox">

  <div *ngIf="!searchField">
    <div *ngFor="let activity of activitydataservice.activities|sort:['facilityName']" (click)="onSelect(activity)">
      <div id="content-wrapper">

        <div *ngIf="userdataservice.username" class="button">

          <!--<a class="button" href="#popup">{{activity.facilityName}} ({{activity.activity}}) </a>-->
          <a class="button" href="#popup">{{activity.facilityName}} </a>

          <span *ngIf="activity.favorite"><button (click)="addLikedActivity(activity)" class="megusta" style="float:right">♥</button></span>

          <span *ngIf="!activity.favorite"><button (click)="addLikedActivity(activity)" class="nomegusta" style="float:right">♥</button></span>

        </div>

        <div *ngIf="!userdataservice.username" class="button">

          <!--<a class="button" href="#popup">{{activity.facilityName}} ({{activity.activity}})</a>-->
          <a class="button" href="#popup">{{activity.facilityName}} </a>

        </div>
      </div>


    </div>
  </div>


  <div *ngIf="searchField">
    <div *ngFor="let activity of filteredList" (click)="onSelect(activity)">

      <div id="content-wrapper">

        <div *ngIf="userdataservice.username" class="button">

          <!--<a class="button" href="#popup">{{activity.facilityName}} ({{activity.activity}})</a>-->
          <a class="button" href="#popup">{{activity.facilityName}}</a>

          <span *ngIf="activity.favorite"><button (click)="addLikedActivity(activity)" class="megusta" style="float:right">♥</button></span>

          <span *ngIf="!activity.favorite">
            <button (click)="addLikedActivity(activity)" class="nomegusta" style="float:right">♥</button>
          </span>

        </div>

        <div *ngIf="!userdataservice.username" class="button">
          <a class="button" href="#popup">{{activity.facilityName}}</a>


        </div>

      </div>

    </div>


  </div>

</div>

