body {
  font-family: Arial, sans-serif;
  background: #ddd;
}

.btn-primary {
  padding: 3px 15px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #666;
  font-weight: bold;
  background-color: white;
  border: solid 2px;
}

  .btn-primary:hover {
    background-color: #d97731;
    color: white;
  }

  .btn-primary:active {
    background-color: #4f95da;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: white;
  }


h1 {
  text-align: center;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #fff;
  margin: 50px 0;
}

h3 {
  text-align: center;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #fff;
  margin: 50px 0;
}

#content-wrapper {
  margin: 0 auto;
  background: #fff;
  padding: 2px;
  border: 3px solid #aaa;
  border-radius: 5px;
  background-clip: padding-box;
  text-align: left;
}

.scrollbox {
  height: 581.94px;
  width: 100%;
  overflow-y: scroll;
  background-color: #DEC19B;
}

  .megusta{
    color: red;
  }

.nomegusta {
  color: #a8a0a2;
}

a{
   color: black;
}


  a:hover {
    border: dotted 1px black;
  }

button {
  width: 25px;
  height: 25px;
}
