html {
  height: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.left {
  position: absolute;
  background-color: #DEC19B;
  width: 12%;
  left: 12%;
  top: 10%;
  z-index: 100;
  border: solid 5px #000000;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: border-width .5s linear;
}

.left:hover {
  border-width: 10px;
  /* ANIMATED ON HOVER*/
}
.middle {
  position: absolute;
  background-color: #DEC19B;
  width: 25%;
  left: 25%;
  top: 10%;
  z-index: 100;
  border: solid 5px #000000;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: border-width .5s linear;
}

  .middle:hover {
    border-width: 10px;
    /* ANIMATED ON HOVER*/
  }

.right {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 10;
  border: solid 5px black;
  border-radius: 5px;
  transition: border-width .5s linear;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.right:hover {
  border-width: 10px;
  /* ANIMATED ON HOVER*/
}


/*#9465DE, #7614EC,

    background-image: linear-gradient(to top, #F0498E, #EE3F5E, #EE6D3F, #E49124, #ECCB14,
*/
body {
  background-color: #f1f2f2;
  background-repeat: no-repeat;
  height: 100%;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* For Simplicity, leaves were placed in locations so the sideways scroll bar would not appear during animations

    each leaf is delayed by 1 additional second
*/

#leaf1 {
  opacity: 0;
  left: 60%;
  animation: animate 40s linear infinite;
  animation-delay: 1s;
  z-index: -10;
}

#leaf2 {
  opacity: 0;
  left: 30%;
  animation: animate 30s linear infinite;
  animation-delay: 2s;
  z-index: -10;
}

#leaf3 {
  opacity: 0;
  left: 40%;
  animation: animate 40s linear infinite;
  animation-delay: 3s;
  z-index: 0;
}

#leaf4 {
  opacity: 0;
  left: 70%;
  animation: animate 30s linear infinite;
  animation-delay: 4s;
  z-index: 0;
}


#leaf5 {
  opacity: 0;
  left: 50%;
  animation: animate 40s linear infinite;
  animation-delay: 5s;
  z-index: 0;
}

#leaf6 {
  opacity: 0;
  left: 55%;
  animation: animate 30s linear infinite;
  animation-delay: 6s;
  z-index: 0;
}



#leaf7 {
  opacity: 0;
  left: 40%;
  animation: animate2 40s linear infinite;
  animation-delay: 7s;
  z-index: 0;
}

#leaf8 {
  opacity: 0;
  left: 50%;
  animation: animate 25s linear infinite;
  animation-delay: 8s;
  z-index: 0;
}

#leaf9 {
  opacity: 0;
  left: 35%;
  animation: animate2 40s linear infinite;
  animation-delay: 9s;
  z-index: 0;
}

#leaf10 {
  opacity: 0;
  left: 45%;
  animation: animate2 30s linear infinite;
  animation-delay: 10s;
  z-index: 0;
}

#leaf11 {
  opacity: 0;
  left: 55%;
  animation: animate2 40s linear infinite;
  animation-delay: 11s;
  z-index: -100;
}

#leaf12 {
  opacity: 0;
  left: 65%;
  animation: animate2 30s linear infinite;
  animation-delay: 12s;
  z-index: 0;
}


@keyframes animate {
  0% {
    top: -10%;
    opacity: 0;
    transform: translateX(20px) rotate(0deg)
  }

  10% {
    opacity: 1;
    transform: translateX(-40px) rotate(45deg)
  }

  20% {
    transform: translateX(80px) rotate(-45deg)
  }

  40% {
    transform: translateX(-100px) rotate(45deg)
  }

  60% {
    transform: translateX(120px) rotate(-45deg)
  }

  80% {
    transform: translateX(-140px) rotate(45deg)
  }

  100% {
    top: 110%;
    transform: translateX(160px) rotate(-45deg)
  }
}

@keyframes animate2 {
  0% {
    top: -10%;
    opacity: 0;
    transform: translateX(-20px) rotate(0deg)
  }

  10% {
    opacity: 1;
    transform: translateX(40px) rotate(45deg)
  }

  20% {
    transform: translateX(-80px) rotate(-45deg)
  }

  40% {
    transform: translateX(100px) rotate(45deg)
  }

  60% {
    transform: translateX(-120px) rotate(-45deg)
  }

  80% {
    transform: translateX(140px) rotate(45deg)
  }

  100% {
    top: 110%;
    transform: translateX(-160px) rotate(-45deg)
  }
}


img {
  position: absolute;
  width: 100px;
  height: 100px;
  transform-origin: 0px -400px 0px;
  animation-name: fall, sway;
  animation-duration: 7s, 8s;
  animation-timing-function: linear, ease-in-out;
}


