<div class="center">
  <h1>Please log in:</h1>
  <br />
  <form class="pageLayout">
    <ng-container *ngIf="!user.username">
      <input #nameBox type="text" placeholder="Username" required />
      <br />
      <br />
      <input #passBox type="password" placeholder="Password" required /> <p>{{UserService.userReason}}</p>
      <br />
      <br />
      <button (click)="login(nameBox.value, passBox.value)">Login</button>
    </ng-container>
  </form>
  <br />
  <br />
  <h1>Or Create a new profile:</h1>
  <br />
  <form class="pageLayout">
    <ng-container *ngIf="!user.username">
      <input #firstName type="text" placeholder="First Name" required />
      <br />
      <br />
      <input #lastName type="text" placeholder="Last Name" required />
      <br />
      <br />
      <!--
  <input #city type="text" placeholder="City" required />
  <br />
  <br />
  <input #state type="text" placeholder="State" required />
  <br />
  <br />-->
      <input #zip type="number" placeholder="Zip Code" required />
      <br />
      <br />
      <input #newUserName type="text" placeholder="User Name" required />
      <br />
      <br />
      <input #pass type="password" placeholder="Password" required />
      <br />
      <br />
      <input type="password" placeholder="Verify Password" required />
      <br />
      <br />

      <button (click)="createProfile(firstName.value, lastName.value, zip.value, newUserName.value, pass.value)">Create Profile</button>
      <!--
  <button (click)="createUser(firstName.value, lastName.value, city.value, state.value, zip.value, newUserName.value, pass.value)">Create Profile</button>
    -->
    </ng-container>
  </form>
  <br />
  <br />
</div>
