.overlay {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

  .overlay.light {
    background: rgba(255, 255, 255, 0.5);
  }

  .overlay .cancel {
    position:relative;
    width: 100%;
    height: 100%;
    cursor: default;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 900px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: center;
  z-index: 750;
  overflow: auto;
}

.popup h2 {
  margin-top: 0;
  color: #666;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

.popup .content {
  max-height: 400px;
  z-index: 1000;
}

.popup p {
  margin: 0 0 1em;
  font-size: small;
}

  .popup .cancel {
    position: center;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    cursor: default;
  }

  a:hover {
      border: dotted 1px black;
  }
