
  <div class="left">
    <h1>Favorite Locations</h1>

    <div class="scrollbox">
      
      <div *ngFor="let favorite of this.favoritesService.likedFavorites">
        <div id="content-wrapper">
          <span *ngIf="favorite.likeID"><button (click)="DeleteFav(favorite.likeID)" class="megusta" style="float:right">♥</button></span>
          <span *ngIf="!favorite.likeID"><button (click)="DeleteFav(favorite.likeID)" class="nomegusta" style="float:right">♥</button></span>

          <span style="float:left">{{favorite.facilityName}} ({{favorite.activity}})</span><br />

        </div>

      </div>
      

    </div>

  </div>

  <div class="right">
    <agm-map [latitude]="44.5" [longitude]="-85" [zoom]="6.2">
      <agm-marker *ngFor="let activity of favoritesService.likedFavorites"
                  [latitude]="activity.facilityLatitude"
                  [longitude]="activity.facilityLongitude">
        <agm-info-window [latitude]="activity.facilityLatitude"
                         [longitude]="activity.facilityLongitude">{{activity.facilityName}}</agm-info-window>
      </agm-marker>
    </agm-map>

  </div>

