agm-map {
  height: 500px;
  width: 600px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  z-index: 1000;
}

h1{
    text-align:center;
}

.left {
  position: absolute;
  background-color: #DEC19B;
  width: 25%;
  left: 21%;
  top: 10%;
  z-index: 100;
  border: solid 5px #000000;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: border-width .5s linear;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  color:white;
  
}

.left:hover {
  border-width: 10px;
}

.right {
  position: absolute;
  left: 51%;
  top: 10%;
  z-index: 10;
  border: solid 5px black;
  border-radius: 5px;
  transition: border-width .5s linear;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  background-color: #DEC19B;
}

  .right:hover {
    border-width: 10px;
  }


body {
  font-family: Arial, sans-serif;
  background: #ddd;
}

.btn-primary {
  padding: 3px 15px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #666;
  font-weight: bold;
  background-color: white;
  border: solid 2px;
}

  .btn-primary:hover {
    background-color: #d97731;
    color: white;
  }

  .btn-primary:active {
    background-color: #4f95da;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: white;
  }


h1 {
  text-align: center;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #fff;
  margin: 50px 0;
}

#content-wrapper {
  margin: 0 auto;
  background: #fff;
  padding: 2px;
  border: 3px solid #aaa;
  border-radius: 5px;
  background-clip: padding-box;
  text-align: left;
  overflow-wrap: break-word;
}

.scrollbox {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  background-color: #DEC19B;
  text-align: right;
}

.megusta {
  color: red;
}

.nomegusta {
  color: #a8a0a2;
}

span {
  color: black;
}


button {
  width: 25px;
  height: 25px;
}
