
  <div class="left">
    <h1>Favorite Locations</h1>

    <div class="scrollbox">

      <div *ngFor="let favorite of this.favoritesService.likedFavorites">
        <span>{{favorite.likeID}} {{favorite.facilityName}} ({{favorite.activity}})</span>
        <span *ngIf="favorite.likeID"><button (click)="DeleteFav(favorite.likeID)" class="megusta">♥</button></span>
        <span *ngIf="!favorite.likeID"><button (click)="DeleteFav(favorite.likeID)" class="nomegusta">♥</button></span>

      </div>

    </div>

  </div>

  <div class="right" style="background-color:#bbb;">
    <agm-map [latitude]="44.5" [longitude]="-85" [zoom]="6.2">
      <agm-marker *ngFor="let activity of favoritesService.likedFavorites"
                  [latitude]="activity.facilityLatitude"
                  [longitude]="activity.facilityLongitude">
        <agm-info-window [latitude]="activity.facilityLatitude"
                         [longitude]="activity.facilityLongitude">{{likedFavorites.facilityName}}</agm-info-window>
      </agm-marker>
    </agm-map>

  </div>

