* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    position: absolute;
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

