<html>


  <body>
    <app-nav-menu></app-nav-menu>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </body>

    <section>
      <div id="fall-container">
        <img src="leaves1.png" id="leaf1"/>
        <img src="leaves2.png" id="leaf2"/>
        <img src="leaves3.png" id="leaf3"/>
        <img src="leaves4.png" id="leaf4"/>
        <img src="leaves1.png" id="leaf5"/>
        <img src="leaves2.png" id="leaf6"/>
        <img src="leaves3.png" id="leaf7"/>
        <img src="leaves4.png" id="leaf8"/>
      </div>
    </section>

</html>
