.activitylist {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 12em;
}

  .activitylist li {
    cursor: pointer;
    position: relative;
    left: 5px;
    background-color: #D08E28;
    margin: .3em;
    padding: .3em 0;
    height: 1.5em;
    border-radius: 4px;
  }

    .activitylist li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }



  .activitylist .activity {
    font-size: medium;
    color: #000000;
    padding: 0.8em 0.7em 0 0.7em;
    line-height: 1em;
    position: relative;
    left: 5%;
    top: -6px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px; 
  }


h4 {
  text-align: center;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #fff;
  margin: 50px 0;
}
