.activitylist {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 9em;
  
}

  .activitylist li {
    cursor: pointer;
    position: relative;
    left: 20px;
    background-color: #7EBCE5;
    margin: .5em;
    padding: .3em 0;
    height: 1.5em;
    border-radius: 4px;
  }

    .activitylist li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }

    .activitylist li.selected {
      background-color: #CFD8DC;
      color: white;
    }

      .activitylist li.selected:hover {
        background-color: #BBD8DC;
        color: white;
      }

  .activitylist .activity {
    font-size: medium;
    color: #000000;
    padding: 0.8em 0.7em 0 0.7em;
    line-height: 1em;
    position: relative;
    left: 20px;
    top: -6px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    
  }

  p{
      font-size: medium;
      top: auto;
      color: #FFFFFF;
      position:center;
      margin-left: 45px;
  }
