a.navbar-brand {
  text-align: left;
  word-break: break-all;
  z-index: 1000;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  
}

a.nav-link {
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  font: bold "Tebuchet MS";
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar {
  color: #FFFFFF;
  background-color: #D08E28;
  z-index: 1000;
}


button {
  padding: 3px 15px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #666;
  font-weight: bold;
  background-color: white;
  border: solid 2px;
}

  button:hover {
    background-color: #d97731;
    color: white;
  }

  button:active {
    background-color: #4f95da;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: white;
  }
